/* Estilos generales */

.nav-item_link {
  background-color: #000;
  color: #ffffff;
  padding: 20px 0;
  text-align: center;
}

.nav {
  color: #ffffff;
  text-decoration: none;
}

.abs-center {
  align-items: center;
  justify-content: center;
}

.form {
  width: 450px;
}

.carousel-inner {
  margin-left: 10px
}

img {
  align-content: center;
}

footer {
  background-color: #373a3c;
  height: 60px;
  color: #ffffff;
  text-align: center;
}

p {
  font-family: 'Cabin', sans-serif;
  font-size: 12px;
  margin: 0;
}

h1 {
  font-family: 'Cabin', sans-serif;
  font-size: 16px;
  font-weight: bolder;
  margin: 0;
}

h2 {
  font-family: 'Cabin', sans-serif;
  font-size: 14px;
  font-weight: bolder;
  margin: 0;
}

h3 {
  font-family: 'Cabin', sans-serif;
  font-size: 10px;
  text-align: center;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 20px;
}   

.Logotexto  {
  font-family: 'lobster', 'cursive';
  font-size: 30px;
  margin: 0;
  color: #ffffff;
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
}

@media(min-width: 768px){
  .carousel-inner .carousel-item.active,
  .carousel-inner .carousel-item-next {
    transfrom: translateX(25%);
  }
  .carousel-inner .carousel-item-start.active,
  .carousel-inner .carousel-item-prev {
    transfrom: translateX(-25%);
  }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start {
  transform: translateX(0);
}
@media(max-width: 767px){
  .carousel-inner .carousel-item>div{
    display: none;
  }
  .carousel-inner .carousel-item>div:first-child{
    display: block;
  }
}

.carousel {
  width: 70%;
}
