/* Estilos generales */

.nav-item_link {
  background-color: #000;
  color: #ffffff;
  padding: 20px 0;
  text-align: center;
}

.nav {
  color: #ffffff;
  text-decoration: none;
}

.abs-center {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.form {
  width: 450px;
}

img {
  align-content: center;
}

footer {
  background-color: #373a3c;
  color: #ffffff;
  padding: px 0;
  text-align: center;
}

p {
    font-family: 'Cabin', sans-serif;
    font-size: 12px;
  margin: 0;
}

h1 {
  font-family: 'Cabin', sans-serif;
  font-size: 16px;
  font-weight: bolder;
  margin: 0;
}

h2 {
  font-family: 'Cabin', sans-serif;
  font-size: 14px;
  font-weight: bolder;
  margin: 0;
}

h3 {
  font-family: 'Cabin', sans-serif;
  font-size: 10px;
  text-align: center;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 20px;
}   

.Logotexto  {
  font-family: 'lobster', 'cursive';
  font-size: 30px;
  margin: 0;
  color: #ffffff;
}